---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
---

/* WHO */

  Adam DJ Brett
  Website: adamdjbrett.com
  Twitter: @__adjb
  From: Syracuse, NY, USA

/* THANKS */

  Eleventy Creator: Zachleat
  Twitter: @zachleat

  Developer: Tatiana Mac
  Twitter: @TatianaTMac

  Developer: Andy Bell
  Twitter: hankchizljaw

/* Credits */

  Static Site Generator: Eleventy
	Twitter: @eleven_ty
  Website: 11ty.dev

  Eleventy Base Blog Starter Project
  Website: https://github.com/11ty/eleventy-base-blog

  Theme: M10y Eleventy Multiplicity Template
  Website: https://github.com/lwojcik/eleventy-template-multiplicity

/* SITE */

	Last update: {{ page.date }}
	Language: English
  Generator: Eleventy
  Theme: Front Cover  Theme
  Fonts: Font-Awesome 4.7.0
	Doctype: HTML5
	IDE: Terminal, Atom, Sublime Text
